.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4ecdc4;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.quiz-card {
  padding: 25px 0;
  width: 80%;
  max-width: 500px;
  min-width: 280px;
  max-height: 80%;
  min-height: 50%;
  background: #f7fff7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
}

.progress {
  width: 90%;
  background-color: #f7fff7;
  border-radius: 20px;
  height: 20px;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  position: relative;
}

.progress__inner-line {
  height: 100%;
  width: 40%;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgb(47, 141, 230) 0%,
    rgb(21, 214, 172) 100%
  );
  transition: width 0.5s linear;
  position: relative;
}

.progress__current-pos {
  color: rgb(100, 100, 100);
  padding-bottom: 2px;
  font-weight: 700;
  border-radius: 50%;
  /* width: 19px;
  height: 19px; */
  /* background: #ffe66d; */
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  right: 10px;
}

.progress__final-pos {
  color: rgb(100, 100, 100);
  padding-bottom: 2px;
  font-weight: 700;
  border-radius: 50%;
  /* width: 19px;
  height: 19px; */
  /* background: #ffe66d; */
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  right: 10px;
}

.quiz-card__question-container {
  margin: 20px auto 0;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  border-radius: 20px;
  background: #ffe66d;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  box-sizing: border-box;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 700;
  overflow-y: hidden;
}

.quiz-card__question {
  width: auto;
  padding: 0;
  margin: 0;
}

.quiz-card__answer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
}

.quiz-card__button {
  border-radius: 20px;
  background: #e9e9e9;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  padding: 10px 20px;
  margin: 0;
  border: transparent;
  transition: background 0.4 ease-in-out;
  width: 250px;
  max-width: 90%;

  word-wrap: break-word;
}

.quiz-card__button:hover {
  background: rgb(204, 204, 204);
}

.quiz-card__result {
  margin: 20px auto;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  border-radius: 20px;
  background: #39e686;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  box-sizing: border-box;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  overflow-y: hidden;
}

.quiz-card__result_type_wrong {
  background: #e66139;
}

.quiz-card__final-result {
  margin: 20px auto 0;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  border-radius: 20px;
  background: #ffe66d;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  box-sizing: border-box;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 700;
  overflow-y: hidden;
}
